@charset "utf-8";
body{background: #f1ecec;}
#con{width:854px;height: 630px;background:#fff;margin:0 auto;}
.logo{height:49px;width:854px;}
.logo .milogo{display: block;width:49px;height:49px;margin:0 auto;}
.logo .milogo img{width:49px;height:49px;}
.logo h4{height:45px;width:786px;text-align: center;margin:0 auto;font-size:32px;padding: 50px 0 10px 0;}
.logo #main{width:332px;margin: 0 auto;position: relative;}
.logo #main .main-s{display: block;width:332px;font:12px/26px "";padding-top:20px; ;}
.logo #main .tits{height: 40px;padding-left:14px;border:1px solid #e8e8e8;color:#555;}
.logo #main .result-p{float:left;width:275px;height:40px;border-right:1px solid #e8e8e8;cursor: pointer;font:14px/40px "";}
.logo #main i{font-size: 12px!important;} 
/*隐藏div*/
.logo #main .chil{width:332px;border: 1px solid #e8e8e8;height:230px;overflow-x:hidden;position: absolute;top:70px;left:0;z-index: 2;display: none;background: #fff;}
.logo #main .chil #tex{width:275px;height:30px;margin:5px 18px;}
.logo #main .chil .chil-ul .chil-li{width:332px;height: 40px;border:1px solid #e8e8e8;border-bottom: 0;font:14px/40px "";text-align: center;}  

.logo #main .cg{font:12px/24px "";margin-bottom: 10px;}
.logo #main .select{width: 332px;height:40px;border: 1px solid #e8e8e8;}    
.logo #main .select .sel{float:left;font:14px/40px "";width: 67px;text-align: center;border-right:1px solid #e8e8e8 ;}
.logo #main .select .sel b{margin-right: 10px;}
.logo #main .select #txt{width:260px;height: 38px;float:right;border: 0;} 

/*隐藏div*/
.logo #main .chi2{width:332px;border: 1px solid #ccc;height:230px;overflow-x:hidden;position: absolute;top:160px;left:0;z-index: 2;display: none;}
.logo #main .chi2 #tex{width:275px;height:30px;margin:5px 18px;}
.logo #main .chi2 .chi2-ul .chi2-li{width:302px;height: 40px;border:1px solid #e8e8e8;border-bottom: 0;font:14px/40px "";padding-left: 10px;}  
.logo #main .chi2 .chi2-ul .chi2-li time{float:right;margin-right: 10px;} 
#error{width:338px;font-size:10px;color:#FF6700;background: url(../images/error.jpg) no-repeat 1px;padding-left: 20px;margin:20px 0 20px 30px;display: none;}
#error-num{width:338px;font-size:10px;color:#FF6700;background: url(../images/error.jpg) no-repeat 1px;padding-left: 20px;margin:20px 0 20px 30px;display: none;}
#error-nu{width:338px;font-size:10px;color:#FF6700;background: url(../images/error.jpg) no-repeat 1px;padding-left: 20px;margin:20px 0 20px 30px;display: none;}
.logo #main .inputbg{height: 55px;}
.logo #main .inputbg .labelbox{display:block;width:192px;height: 42px;border: 1px solid #e8e8e8;float:left;} 
.logo #main .inputbg .labelbox #use{width:150px;margin-top:10px;border: 0;padding-left: 10px;font-size: 18px;}
.logo #main .inputbg .yzm{width:138px;float:left;height:44px ;}
.logo #main #btn{width:332px;height: 40px;border: 0;text-align: center;font:14px/40px "";background: #FF6700;color: #fff;margin-top: 15px;}
.logo #main .msg{font:14px/20px "";color: #ccc;margin-top: 10px;}
.logo #main .msg a{color: #000000;font:16px/20px}
footer{height: 100px;text-align: center;}
footer .foot{font:14px/19px "";color: #9d9d9d;margin-top: 15px;}
footer .foot .active{color: #000;}
footer .foot a:hover{color: #000;}
footer .foot span{margin:0 5px;}
