
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501642745739'); /* IE9*/
  src: url('iconfont.eot?t=1501642745739#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501642745739') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501642745739') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501642745739#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before { content: "\e604"; }

.icon-shopping:before { content: "\e614"; }

.icon-weixin:before { content: "\e603"; }

.icon-zhifubao:before { content: "\e65b"; }

.icon-yaoqingyewuzigedianhua:before { content: "\e626"; }

.icon-sina:before { content: "\e608"; }

.icon-huaban1:before { content: "\e62d"; }

.icon-gerenxinxiye_dianhuahaoma:before { content: "\e638"; }

.icon-shouji:before { content: "\e602"; }

.icon-sousuo:before { content: "\e60b"; }

.icon-libao:before { content: "\e601"; }

.icon-dianhuashenqingliucheng_shenfenheshi:before { content: "\e7af"; }

.icon-qq:before { content: "\e62a"; }

.icon-icon-test:before { content: "\e702"; }

.icon-shouji-copy:before { content: "\e615"; }

.icon-shoujiqia:before { content: "\e600"; }

.icon-huafeichongzhi:before { content: "\e64c"; }

